$govuk-font-family: system-ui, sans-serif;

// Our logo is 5px taller than the GOV.UK Crown that the design system is tailored for. But it's
// only sort of "peeking" beyond the edges so we don't allocate more space for it in the page.
// The X-GOVUK site doing a very similar thing with its logo I think for a similar reason
.dbt-header__logotype {
	margin-bottom: -5px;
}

// The same as the X-GOVUK site. It's a touch softer than the main GOV.UK brand blue, and I think
// it's a touch better to ever so slightly differential from the GOV.UK blue, because this is
// a technical product
$govuk-brand-colour: #2288aa;
$govuk-link-colour: #006688;
$govuk-link-hover-colour: #004466;
$govuk-link-visited-colour: #333366;

// Also the same as the X-GOVUK site. It gives more space to the menu on the left that the default
// spacing I don't think gives much room for, especially if it's got multiple levels.
$govuk-page-width: 1100px;

// The Data Workspace's logo's default size is a bit small, so we increase it and space it a bit
// more nicely
.x-govuk-masthead__image > img {
	width: 195px;
    height: 240px;
    display: block;
    margin: 20px auto 0 auto;
}
    
